@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(241, 61, 61, 0.862);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(241, 61, 61, 1);
}
